<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoItem-container">
          <% if todo.completed %>
            <input class="TodoItem-checkbox" type="checkbox" value="1" checked>
            <p style="width : 300px;text-decoration : line-through;"><%= todo.todo_text %></p>
          <% else %>
            <input class="TodoItem-checkbox" type="checkbox">
            <p style="width : 300px;"><%= todo.todo_text %></p>
          <% end %>
          <% if show_due_date %>
            <p class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %></p>
          <% end %>
          <a class="TodoItem-delete" href="javascript:void(0)"></a>
          <img src="delete.png" />
        </label>
      </li>
    <% end %>
  </ul>
</section>
